{% extends 'index.html' %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block breadcrumb %}
    {% include 'breadcrumb.html' with title='List of Invoices' path='Invoices' %}
{% endblock breadcrumb %}

{% block content %}
    
    {% csrf_token %}
    <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-2">
        {% url 'isis:product_return_delete' as delete %}
        {% url 'isis:product_return_create' as create %}
        {% url 'isis:product_return_list' as redirect %}
        
        {% include 'new_delete_extra_buttons.html' with table_id='#sortTableLarge' delete_url=delete redirect_url=redirect create_url=create %}
        
        <hr>

        {% csrf_token %}
        {% crispy search_form %}

        <table id="sortTableLarge" class="table display responsive nowrap" 
        width="100%">
        <thead>
            <tr class="p-0 m-0">
                <th style="padding-left: 11px;">
                    <input type="checkbox" id="checkall" name="main_Checkbox" 
                    value="" style="vertical-align: middle"> 
                </th>
                <th>{% trans "Document" %}</th>
                <th>{% trans "Costumer" %}</th>
                <th class="text-end">{% trans "Amount" %}</th>
                <th>{% trans "Status" %}</th>
                <th>{% trans "Actions" %}</th>
            </tr>
        </thead>
        <tbody>

            {% for obj in object_list %}
                <tr data-id="{{ obj.id }}" class="row{{ obj.id }}">
                    <td with="10" > <input type="checkbox" id="{{ obj.id }}" class="rowcheckbox" 
                        value="" style="vertical-align: middle">
                    </td>
                    <td data-label="Invoice"> 
                        <a href="{% url 'isis:product_return_update' obj.pk %}" 
                            class="aler-link">{{ obj.name }}  
                        </a>
                    <td data-label="Costumer">{{ obj.costumer }}</td>
                    <td data-label="Total" class="text-end">{{ obj.total | floatformat:2 |intcomma }}</td>
                    <td data-label="Status"> 
                        {% if obj.active_status %}
                            {% trans "Active" %}
                        {% else %}
                            {% trans "Inactive" %}
                        {% endif %}
                    </td>
                    <td data-label="Actions">
                        <a href="{% url 'isis:product_return_update' obj.pk %}" 
                                class="fas fa-edit btn btn-secondary">
                            
                        </a> 
                        <a href="{% url 'isis:product_return_details' obj.pk %}" 
                                class="fa fa-eye btn btn-secondary">
                            
                        </a>
                        <a href="{% url 'isis:product_return_show' obj.pk %}" 
                                class="fa fa-file btn btn-secondary">
                            
                        </a>    
                    </td>
                </tr>
        {% endfor %}
        </tbody>
    </table>
    
    </div>
{% endblock content %}
    
